<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj adres</title>
</head>
<body>
<header>Dodaj adres</header>
    <form method="POST">{% csrf_token %}
        <label>Miasto
        <input type="text" id="miasto" name="city" placeholder="podaj miasto">
        </label>
        <label>Ulica
        <input type="text" id="ulica" name="street" placeholder="podaj ulicę">
        </label>
        <label>Numer domu
        <input type="number" id="numer domu" name="house_number">
        </label>
         <label>Numer mieszkania
        <input type="number" id="numer mieszkania" name="apartment_number">
        </label>
          <label>
        <input type="submit" value="Dodaj">
        </label>



    </form>


</body>
</html>