<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj email</title>
</head>
<body>
<header>Dodaj email</header>
    <form method="POST">{% csrf_token %}
        <label>Adres email
        <input type="text" id="email" name="email" placeholder="wpisz adres">
        </label>
       <label>
  <select name="email_type">
    <option value="">Select...</option>
    <option value="1">Domowy</option>
    <option value="2">Służbowy</option>
      <option value="3">Inny</option>
  </select>
</label>

          <label>
        <input type="submit" value="Dodaj">
        </label>



    </form>


</body>
</html>